@import "../../../app/globalVariables.scss";
.content {
  margin: 90px 0 65px 0;

  h1 {
    @include breackpoint(sm) {
      font-size: 30px;
    }
    @include breackpoint(xm) {
      font-size: 25px;
    }
    @include breackpoint(xs) {
      font-size: 20px;
    }
  }
  .text__block_1 {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include breackpoint(md) {
      justify-content: center;
    }
    @include breackpoint(sm) {
      margin: 0;
    }
  }
  .text__block_titles {
    color: #414141;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;

    @include breackpoint(sm) {
      font-size: 25px;
    }
  }
  .text__block_desc {
    color: #414141;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
    @include breackpoint(sm) {
      font-size: 18px;
    }
  }
  .text__block_desc:nth-child(even) {
    margin: 0 20px 0 20px;
  }

  .text__block_1_block_1,
  .text__block_1_block_2,
  .text__block_1_block_3,
  .text__block_2_block_1,
  .text__block_2_block_2,
  .text__block_2_block_3 {
    margin-top: 50px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 280px;
  }

  .text__block_1_block_1 {
    background-image: url(./../../../assets/main_advantages/bg_1.svg);
    background-position: center;
  }
  .text__block_1_block_2 {
    background-image: url(./../../../assets/main_advantages/bg_2.svg);
    background-position: center;
  }
  .text__block_1_block_3 {
    background-image: url(./../../../assets/main_advantages/bg_3.svg);
    background-position: center;
  }

  .text__block_2 {
    .text__block_2_block_1,
    .text__block_2_block_2,
    .text__block_2_block_3 {
      max-width: 510px;
      max-height: 290px;
      flex: 1;
      align-items: center;
    }
  }
  .text__block_2_block_1 {
    background-image: url(./../../../assets/main_advantages/bg_4.svg);
    background-position: center;
  }
  .text__block_2_block_2 {
    background-image: url(./../../../assets/main_advantages/bg_5.svg);
    background-position: center;
  }
  .text__block_2_block_3 {
    background-image: url(./../../../assets/main_advantages/bg_6.svg);
    background-position: center;
  }
}
