@import "../../app/globalVariables.scss";

.carouselInner {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  @include breackpoint(xs) {
    // width: 360px;
    max-width: 380px;
    // overflow-x: auto;
  }
}

.mainPicture {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 50px;
  column-gap: 40px;
  @include breackpoint(ms) {
    column-gap: 2px;
  }
  @include breackpoint(md) {
    column-gap: 2px;
  }
  @include breackpoint(sm) {
    column-gap: 2px;
  }
  @include breackpoint(xm) {
    column-gap: 2px;
  }
  @include breackpoint(xs) {
    column-gap: 2px;
  }
}

.imageButton {
  cursor: pointer;
  position: absolute;
  top: 50%;
}
.imageButton:hover {
  transform: scale(1.1);
}
.imageButton.left {
  left: 362px;
  @include breackpoint(ms) {
    display: none;
  }
  @include breackpoint(md) {
    display: none;
  }
  @include breackpoint(sm) {
    display: none;
  }
  @include breackpoint(xm) {
    display: none;
  }
  @include breackpoint(xs) {
    display: none;
  }
}

.imageButton.right {
  right: 362px;
  @include breackpoint(ms) {
    display: none;
  }
  @include breackpoint(md) {
    display: none;
  }
  @include breackpoint(sm) {
    display: none;
  }
  @include breackpoint(xm) {
    display: none;
  }
  @include breackpoint(xs) {
    display: none;
  }
}

.imageWrapper {
  // margin: 0 58px;

  img {
    border-radius: 20px;
  }
}
