@import "../../../app/globalVariables.scss";
.lastNews__container2 {
  display: flex;
  margin-bottom: 100px;
  justify-content: flex-start;
  flex-direction: column;
  // @include breackpoint(xm) {
  //   padding-left: 15px;
  //   padding-left: 15px;
  // }

  h3 {
    padding-left: 7%;
    font-size: 40px;
    font-weight: bold;
    @include breackpoint(sm) {
      font-weight: 700;
      font-size: 28px;
      line-height: 24px;
    }
    @include breackpoint(xm) {
      font-weight: 700;
      font-size: 28px;
      line-height: 24px;
    }
    @include breackpoint(xs) {
      text-align: justify;
      font-weight: 700;
      font-size: 25px;
      line-height: 24px;
    }
  }

  .lastNews__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    @include breackpoint(xs) {
      // width: 1400px;
      // max-width: 380px;
    }

    .lastNews__bloc {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 85vw;
      @include breackpoint(md) {
        display: flex;
        width: 793px;
        justify-content: space-evenly;
      }
      @include breackpoint(sm) {
        display: flex;
        overflow-x: auto;
        min-width: 460px;
        max-width: 607px;
        column-gap: 15px;
      }

      @include breackpoint(xm) {
        display: flex;
        // overflow-x: auto;
        min-width: 300px;
        max-width: 380px;
        column-gap: 15px;
        // max-width: 600px;
      }
      @include breackpoint(xs) {
        column-gap: 15px;
        // width: 1400px;
        max-width: 360px;
        display: flex;
        overflow-x: auto;
        // position: relative;
      }

      .lastNews__images {
        width: 30%;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 300px;
        border-radius: 20px;
        @include breackpoint(md) {
         
          object-fit: cover;
        }
        @include breackpoint(sm) {
          left: 100px;
          column-gap: 10px;
          width: 300px;
          flex-shrink: 0;
        }
        @include breackpoint(xm) {
          left: 20px;
          column-gap: 10px;
          width: 300px;
          flex-shrink: 0;
        }
        @include breackpoint(xs) {
          left: 10px;
          column-gap: 10px;
          width: 300px;
          flex-shrink: 0;
        }

        .lastNews__image {
          position: absolute;
          @include breackpoint(md) {
            height: 170px;
          }
          @include breackpoint(xs) {
            height: 200px;
          }
          @include breackpoint(xm) {
            height: 200px;
          }
          @include breackpoint(sm) {
            min-width: 100%;
          }
          @include breackpoint(xs) {
            // width: 360px;
            // height: 160px;
          }
        }
        p {
          position: absolute;
          color: $white;
          font-weight: bold;
          padding: 0 20px;
          text-align: left;
          @include breackpoint(md) {
            font-size: 14px;
            line-height: 22px;
          }
          @include breackpoint(sm) {
            font-size: 17px;
            line-height: 22px;
          }
          @include breackpoint(xm) {
            font-size: 17px;
            line-height: 22px;
          }
          @include breackpoint(xs) {
            font-size: 15px;
            line-height: 22px;
          }
        }
      }
    }
  }
}
