@import "../../app/globalVariables.scss";

.reviews__container {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include breackpoint(ms) {
    max-width: 1150px;
  }
  @include breackpoint(md) {
    max-width: 950px;
  }
  @include breackpoint(sm) {
    max-width: 750px;
  }
  @include breackpoint(xm) {
    max-width: 580px;
  }
  @include breackpoint(xs) {
    max-width: 380px;
    
  }

  .reviews__blok {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 85vw;
    
    @include breackpoint(ms) {
      max-width: 1100px;
      height:400px ;
      overflow-x: auto;
      column-gap: 20px;
    }
    @include breackpoint(md) {
      max-width: 950px;
      height:400px ;
      overflow-x: auto;
      column-gap: 20px;
    }
    @include breackpoint(sm) {
      margin-top: 5px;
      max-width: 750px;
      height:350px ;
      overflow-x: auto;
      column-gap: 20px;
    }
    @include breackpoint(xm) {
      margin-top: 5px;
      max-width: 550px;
      height:350px ;
      overflow-x: auto;
      column-gap: 20px;
    }
    @include breackpoint(xs) {
      margin-top: 5px;
      max-width: 370px;
      height:350px ;
      overflow-x: auto;
      column-gap: 20px;
    }

    .reviews__card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 0px 5px 10px rgba(152, 135, 135, 0.5);
      align-items: center;
      width: 22%;
      height: 180px;
      padding: 0 10px;
      padding-bottom: 20px;
      @include breackpoint(xxl) {
        height: 200px;
      }
      @include breackpoint(ms) {
        justify-content: center;
        box-shadow: 0px 5px 10px rgba(152, 135, 135, 0.5);
        width: 85%;
        height: 250px;
      }
      @include breackpoint(md) {
        justify-content: center;
        box-shadow: 0px 5px 10px rgba(152, 135, 135, 0.5);
        width: 80%;
        height: 250px;
      }
      @include breackpoint(sm) {
        justify-content: center;
        box-shadow: 0px 5px 10px rgba(152, 135, 135, 0.5);
        width: 80%;
        height: 250px;
      }
      @include breackpoint(xm) {
        box-shadow: 0px 5px 10px rgba(152, 135, 135, 0.5);
        width: 80%;
        height: 250px;
      }
      @include breackpoint(xs) {
        box-shadow: 0px 5px 10px rgba(152, 135, 135, 0.5);
        width: 80%;
        height: 250px;
      }

      .reviews__icon {
        display: flex;
        align-items: center;
        @include breackpoint(ms) {
          width: 250px;
          padding-bottom: 20px;
        }
        @include breackpoint(md) {
          width: 250px;
          padding-bottom: 20px;
        }
        @include breackpoint(sm) {
          width: 250px;
          padding-bottom: 20px;
        }
        @include breackpoint(xm) {
          width: 250px;
        }
        @include breackpoint(xs) {
          width: 250px;
        }

        .reviews__image {
          border-radius: 50%;
          box-shadow: 0px 5px 10px rgba(152, 135, 135, 0.5);
          margin: -10px 20px 10px 0px;
        }
        .reviews__title {
          font-size: 14px;
          @include breackpoint(xm) {
            padding: 10px;
          }
          @include breackpoint(xs) {
            padding: 10px;
          }
        }
        .reviews__title > p:nth-child(1) {
          font-weight: bold;
        }
      }
      p {
        font-size: 14px;
      }
    }
  }
  .reviews__vectors {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .reviewsVec1 {
      cursor: pointer;
      transition: transform 0.3s ease;
    }
    .reviewsVec2 {
      cursor: pointer;
      transition: transform 0.3s ease;
    }
    .reviewsVec1:hover {
      transform: scale(1.1);
    }
    .reviewsVec2:hover {
      transform: scale(1.1);
    }
  }
}
