@import "../../app/globalVariables.scss";
.Newspage__images {
  .Newspage__image {
    border-radius: 20px;
    width: 440px;
    height: 300px;
    @include breackpoint(xm) {
      width: 350px;
      height: 250px;
    }
    @include breackpoint(xs) {
      width: 290px;
    }
  }
  p {
    color: $white;
    font-weight: bold;
    font-weight: 800;
    @include breackpoint(xm) {
      font-size: 15px;
      width: 300px;
    }
    @include breackpoint(xs) {
      width: 250px;
      font-size: 12px;
    }
  }
}
.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  .cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    margin-top: 114px;
    justify-content: center;
    row-gap: 40px;
    margin-bottom: 50px;
  }
  button {
    border: 1px solid $color1;
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
  }
  button:hover {
    background-color: $color1;
    color: $white;
  }

  h2 {
    font-size: 50px;
    line-height: 55px;
    color: $black;
    font-weight: 700;
    @include breackpoint(ms) {
      margin-bottom: 20px;
    }
    @include breackpoint(xm) {
      font-size: 30px;
    }
  }
  .news__text {
    padding-top: 165px;
    justify-content: center;
    display: flex;
    column-gap: 276px;
    align-items: center;
    @include breackpoint(ms) {
      flex-direction: column;
    }
  }
  .news__text_desc {
    text-align: justify;
    width: 440px;
    display: flex;
    @include breackpoint(xm) {
      text-align: center;
      width: 350px;
    }

    h4 {
      font-size: 19px;
      font-weight: 300;
      line-height: 26.6px;
      color: $black;
      @include breackpoint(xm) {
        font-size: 15px;
      }
    }
  }
  .Newspage_text_inner {
    position: absolute;

    text-decoration: none;
    color: #ffffff;

    border-radius: 5px;

    margin: -160px;
    margin-left: 28px;

    width: 385px;

    text-align: left;
    @include breackpoint(xm) {
      margin-left: 5px;
    }
    @media all and (max-width: 465px) {
      width: 200px;
    }
  }
}
