@import '../../app/globalVariables.scss';
.component{
    .component__container{
      
        width: 95%;
        margin: 0 auto;
        max-width: 1280px;
     
    }
    h1{
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
        color: $black;
        text-align: center;
        @include breackpoint(md) {
            font-size: 40px;
            line-height: 24px;
          }
        @include breackpoint(sm) {
            font-size: 30px;
            line-height: 24px;
          }
        @include breackpoint(xm) {
            font-size: 24px;
            line-height: 24px;
          }
        @include breackpoint(xs) {
          
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
          }
    }
}
