@import "../../app/globalVariables.scss";
<<<<<<< HEAD

.OurWorks__container {
  .OurWorks__title {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 150px;

    h3 {
      font-size: 50px;
      font-weight: bold;
      width: 50%;
    }
    p {
      width: 45%;
    }
  }
  .images {
    margin: auto;
    width: 95vw;

    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    // align-items: center;

    .containerImages {
      display: flex;
      width: 100%;
      .images1 {
        display: flex;
        flex-direction: column;
        width: 40%;
      }
    }
    // .image:nth-child(1) {
    //   width: 465px;
    //   height: 374px;
    // }
    // .image:nth-child(2) {
    //   width: 345px;
    //   height: 278px;
    // }
    // .image:nth-child(3) {
    //   width: 345px;
    //   height: 278px;
    //   border: 20px solid red;
    // }
    // .image:nth-child(4) {
    //   width: 465px;
    //   height: 278px;
    // }
    // .image:nth-child(5) {
    //   width: 800px;
    //   height: 374px;
    // }
    // .image:nth-child(6) {
    //   width: 369px;
    //   height: 274px;
    // }
    // .image:nth-child(7) {
    //   width: 369px;
    //   height: 274px;
    // }
    // .image:nth-child(8) {
    //   width: 562px;
    //   height: 274px;
    // }
    // .image:nth-child(9) {
    //   width: 825px;
    //   height: 274px;
    // }
    // .image:nth-child(10) {
    //   width: 465px;
    //   height: 274px;
    // }
  }
}
=======
.ourworks__images {
  .ourworks__image {
    border-radius: 15px;
    // width: auto;
    // height: 300px;
  }
  p {
    color: $white;
    font-weight: bold;
    font-weight: 800;

  }
}
.works {
  background-image: url("../../assets/Workspage/bgimage.png");
  // background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    margin-top: 114px;
    justify-content: center;
    row-gap: 40px;
    margin-bottom: 264px;
  }

  h1 {
    font-size: 50px;
    line-height: 55px;
    color: $black;
    font-weight: 700;
  }
  .works__text {
    padding-top: 201px;
    justify-content: center;
    display: flex;
    column-gap: 295px;
    align-items: center;
  }
  .works__text_desc {
    text-align: justify;
    width: 639px;

    display: flex;

    h4 {
      font-size: 19px;
      font-weight: 300;
      line-height: 26.6px;
      color: $black;
    }
  }
//   .Newspage_text_inner {
//     position: absolute;

//     text-decoration: none;
//     color: #ffffff;

//     border-radius: 5px;

//     margin: -160px;
//     margin-left: 28px;

//     width: 385px;

//     text-align: left;
//   }
}
>>>>>>> ee85d00689643d5c546c289818ba4d1e95b28451
