@import "../../app/globalVariables.scss";
.ourTeam {
  position: relative;
  z-index: -1;
  background-image: url("../../assets/OurTeam/image 16.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -50px;
  h1 {
    font-size: 40px;
    line-height: 60px;
    color: $black;
    font-weight: 700;
    margin-bottom: 20px;
    @include breackpoint(ms) {
      font-size: 35px;
    }
    @include breackpoint(xm) {
      font-size: 25px;
      line-height: normal;
    }
  }
  .ourTeam__text {
    padding-top: 160px;
  }
  .ourTeam__text_desc {
    background: #ffffff;
    width: 533px;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include breackpoint(xm) {
      width: 350px;
    }
    @include breackpoint(xs) {
      width: 300px;
    }
    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 28px;
      color: $black;
      @include breackpoint(ms) {
        font-size: 15px;
      }
      @include breackpoint(xm) {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}
